.ingredients-page-div {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 200px;
    overflow-x: hidden;
}

.ingredients-ul-container {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgb(255, 206, 132);
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: -8px 8px 8px rgba(26, 26, 26, 0.45);
}

@media print {
    .ingredients-page-div {
        margin-top: 0px;
        margin-left: 0px;
    }

    .print-button {
        display: none;
    }

    .printable-section {
        margin-left: 0px;
    }

    .ingredients-ul-container {
        width: 100%;
        box-shadow: none;
    }
}

.print-button {
    width: 150px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
}

.print-button:focus {
    outline: none;
}

.print-button:hover {
    background-color: rgba(250, 150, 0, 0.853);
}

.ingredientsUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 800px;
    width: 100%;
    padding-left: 0px;
    align-items: center;
}

.ingredientsUlLonger {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 1600px;
    width: 100%;
    padding-left: 0px;
    align-items: center;
}

.ingredient-li {
    /* margin-bottom: 0px; */
    font-size: 14pt;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    cursor: default;
}

.ingredient-li-smaller {
    font-size: 10pt;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    cursor: default;
}

.checkbox {
    /* display: none; */
    height: 50px;
}

.checkbox-smaller {
    /* display: none; */
    height: 20px;
}

.printable-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-and-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}