.ingredients-page-div {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 200px;
    overflow-x: hidden;
}

@media print {
    .ingredients-page-div {
        margin-top: 0px;
        margin-left: 0px;
    }

    .print-button {
        display: none;
    }

    .checkbox {
        display: block;
        height: 50px;
    }

    .printable-section {
        margin-left: 0px;
    }
}

.print-button {
    width: 20%;
}

/* height and width are wrong here */
.ingredientsUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 800px;
    width: 100%;
    padding-left: 0px;
    align-items: center;
}

.ingredientsUlLonger {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 1600px;
    width: 100%;
    padding-left: 0px;
    margin-right: 50px;
    align-items: center;
}

.ingredient-li {
    /* margin-bottom: 0px; */
    font-size: 14pt;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
}

.ingredient-li-smaller {
    font-size: 10pt;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
}

.checkbox {
    /* display: none; */
    height: 50px;
}

.checkbox-smaller {
    /* display: none; */
    height: 20px;
}

.printable-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-and-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}