.meal-boxes-div {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20px;
}

.meal-page-h1 {
    margin: 195px 0px 10px;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .meal-boxes-div {
        display: flex;
        flex-direction: column;
    }

    .meal-page-h1 {
        font-size: 24px;
        margin: 125px 0px 10px 0px;
    }
}