.navbar-nav {
    
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(250, 150, 0);
    padding: 0;
    padding-top: .5vw;
    padding-bottom: .5vw;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
}

.navbar-li {
    text-align: center;
    min-width: 30%;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 206, 132);
    cursor: pointer;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.navbar-li:hover *{
    font-size: 48px;
}

.navbar-li:active {
    background-color: rgba(15, 15, 15, 0.65);
    font-size: 12px;
}

.navbar-h1 {
    font-size: inherit;
}

@media only screen and (max-width: 320px) {
    .navbar-h1 {
        font-size: 16px !important;
        margin: 0px;
    }

    .navbar-li {
        flex-direction: column;
        height: 50px;
    }

    .navbar-ul {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}