.sides-page-div {
    margin-top: 185px;
}

.side-boxes-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.meal-box-for-sides {
    background-color: rgb(126, 126, 126);
}

.no-sides-h2 {
    text-align: center;
}

.side-page-h1 {
    text-align: center;
}

.empty-side-box-div {
    background-color: hotpink;
    font-family: 'Chilanka', cursive;
}