html {
    background-image: url("https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg");
}

.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.700);
    box-shadow: 0px 5px 10px rgb(158, 158, 158);
    z-index: 1000;
}

@media print {
    .app-header {
        display: none;
    }
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 56px;
    font-family: 'Chilanka', cursive;
    cursor: default;
}

.reset-button {
    height: 28px;
    margin-right: 20px;
    cursor: pointer;
    border: 1.35px rgb(150, 150, 150) solid;
    border-radius: 4px;
}

.letter-f-and-c {
    font-family: 'Abril Fatface', cursive;
    font-size: 48pt;
}

@media only screen and (max-width: 320px) {
    .app-header {
        max-width: 320px;
    }

    .title, .letter-f-and-c {
        font-size: 28px;
    }
}