.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.800);
    box-shadow: 0px 5px 10px rgb(158, 158, 158);
}

@media print {
    .app-header {
        display: none;
    }
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 56px;
    font-family: 'Chilanka', cursive;
}

.reset-button {
    height: 28px;
    margin-right: 20px;
}